<h2>ブログ一覧</h2>
<h3><%= notice %></h3>

<table>
  <tr>
    <th>タイトル</th>
    <th>本文</th>
    <th>作成日時</th>
    <th>最終更新日時</th>
  </tr>
  
  <% @blogs.each do |blog| %>
    <tr>
      <td><%= blog[:title] %></td>
      <td><%= blog[:content] %></td>
      <td><%= blog[:created_at] %></td>
      <td><%= blog[:updated_at] %></td>
      <td><%= link_to 'ブログを編集する', "/blogs/#{blog[:id]}/edit" %></td>
      <td><%= link_to 'ブログを削除する', "/blogs/#{blog[:id]}/destroy", method: 'delete' %></td>
    </tr>
  <% end %>
  
</table>

<br>
<%= link_to 'ブログを新規作成する', blogs_new_path %>